@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

Button.-primary {
  font-size: 18;
}

Label.horizontal-separator {
  background-color: black;
  width: 100%;
  height: 4px;
}
